#list {
  position: absolute;
  margin-top: -130px;
  margin-left: 1000px;
  margin-right: 70px;
  padding: 5px 30px;
}

#browse {
  margin-top: 15px;
  margin-left: 60px;
  position: absolute;

}

#browse_upload {
  /* margin-top: 100px; */
  margin-left: 10px;
  position: absolute;
}

#type_text {
  margin-top: 5px;
  margin-right: 650px;
  right: 50%;
  position: absolute;
  font-weight: bold;
  font-family: monospace;
  /* text-align:center;  */
  font-size: 120%;
}

#name {
  margin-top: -20px;
  margin-right: 500px;
  margin-right: 500px;
  right: 53%;
  position: absolute;
  font-weight: bold;
  font-family: monospace;
  /* text-align:center;  */
  font-size: 120%;
}

#video_count {
  margin-top: 200px;
  margin-right: -800px;
  right: 50%;
  position: absolute;
  font-weight: bold;
  font-family: monospace;
  /* text-align:center;  */
  font-size: 120%;
}

#screen {
  margin-top: 50px;
  margin-left: 10px;
  position: relative;
}

.btn {
  top: 100%;
  left: 30%;
  position: relative;
  font-family: sans-serif;
  display: inline-block;
  border: none;
  color: rgb(245, 243, 241);
  padding: 12px 16px;
  font-size: 26px;
  cursor: pointer;
}

#yes-button {
  background-color: #4a831b;
  margin-left: -80px;
  margin-right: 200px;
  padding: 5px 50px;
}

#no-button {
  background-color: #f03636;
  padding: 5px 50px;
}

#process-button {
  margin-top: -100px;
  margin-left: 820px;
  margin-right: 70px;
  background-color: #f051ad;
  padding: 5px 30px;
}

#export_csv {
  background-color: #f39b28;
  padding: 15px 20px;
}

#folder {
  color: rgb(247, 247, 247);
  font-size: 20px;
}

#loader {
  margin-top: -450px;
  margin-left: 440px;
  position: relative;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

a:link,
a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: green;
  color: white;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.pagination__pages {
  display: inline-flex;
  list-style-type: none;
  padding: 0;
}

.pagination__page-btn {
  border: 1px solid black;
}

.pagination__navigate-btn {
  border: 1px solid black;
}

.pagination__page-btn--active {
  border: 1px solid black;
  background: #a3a3ff;
}

.list {
  list-style-type: none;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pagi {
  margin-top: -50px;
  position: relative;
}